{% extends "base.html" %}
{% block content %}
	<h1> Game : {{vars.name}} </h1>

	<button onclick="window.open('/reviews?appid={{vars.appid}}&page_num=1')" class="btn btn-dark"> Reviews </button>
	<button onclick="window.open('/screenshots?appid={{vars.appid}}')" class="btn btn-dark"> Screenshots </button>
	{% if vars.website %}
	<button onclick="window.open('{{vars.website}}')" class="btn btn-dark"> website </button>
	{% endif %}
	{% if vars.steam_page %}
	<button onclick="window.open('{{vars.steam_page}}')" class="btn btn-dark"> steam page </button>
	{% endif %}
	{% if 'user' in session %}
		
		<button id = 'fav' onclick="toggle_fav()" class="btn btn-dark">
			{% if vars.appid|int not in session['user_obj']['favs'] %}
				{% set fav = 0 %}
			 	Add to favourites
			{% else %}
				{% set fav = 1 %}
			 	Remove from favourites
			{% endif %}
			</button>
	{% endif %}
	<button class="btn btn-dark"> write review </button>

	{% if vars.description %}
		<h1> Description: </h1>
		<div style="height: 400px; overflow: scroll; background-color: #AAFFF0"> 
			<div> {{vars.description | safe}} </div>
		</div>
		
	{% endif %}

	{% if vars.windows_requirements or vars.mac_requirements or vars.linux_requirements %}
		<h1> Requirements: </h1>
		<div style="height: 400px; overflow: scroll; background-color: #ACFF92">
			{% if vars.windows_requirements %}
			<h2> Windows: </h2>
			{{vars.windows_requirements | safe}}
			{% endif %}
			{% if vars.mac_requirements %}
			<h2> Mac: </h2>
			{{vars.mac_requirements | safe}}
			{% endif %}
			{% if vars.linux_requirements %}
			<h2> Linux: </h2>
			{{vars.linux_requirements | safe}}
			{% endif %}
		</div>
		
	{% endif %}

	{% if vars.tags %}
		<h1> Tags: </h1>
		{% for tag in vars.tags %}
			{{tag}} ,
		{% endfor %}
	{% endif %}

<!-- 
    <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
	{% endfor %} -->

<script>
	fav = {{fav}}
	function toggle_fav(){
		if(fav==1){
			fav = 0;
			$("#fav").html('Add to favourites')
			$.get( '/toggle_fav?appid={{vars.appid}}', function( data ) {
				alert(data);
			});
		}
		else{
			fav = 1;
			$("#fav").html('Remove from favourites')
				$.get('/toggle_fav?appid={{vars.appid}}', function(data) {
					alert(data);
			});
		}
		console.log(fav);
		//window.open('/addtofav?appid={{vars.appid}}')
	}
</script>

{% endblock %}