{% extends "base.html" %}
{% block content %}
	<style type="text/css">
		.writeReviewPopup{
		    background:rgba(0,0,0,.4);
		    cursor:pointer;
		    display:none;
		    height:100%;
		    position:fixed;
		    text-align:center;
		    top:0;
		    width:100%;
		    z-index:10000;
		}
		.writeReviewPopup .helper{
		    display:inline-block;
		    height:100%;
		    vertical-align:middle;
		}
		.writeReviewPopup > div {
		    background-color: #fff;
		    box-shadow: 10px 10px 60px #555;
		    display: inline-block;
		    height: auto;
		    max-width: 551px;
		    min-height: 100px;
		    vertical-align: middle;
		    width: 60%;
		    position: relative;
		    border-radius: 8px;
		    padding: 15px 5%;
		}
		.popupCloseButton {
		    background-color: #fff;
		    border: 3px solid #999;
		    border-radius: 50px;
		    cursor: pointer;
		    display: inline-block;
		    font-family: arial;
		    font-weight: bold;
		    position: absolute;
		    top: -20px;
		    right: -20px;
		    font-size: 25px;
		    line-height: 30px;
		    width: 30px;
		    height: 30px;
		    text-align: center;
		}
		.popupCloseButton:hover {
		    background-color: #ccc;
		}
		.trigger_popup_fricc {
		    cursor: pointer;
		    font-size: 20px;
		    margin: 20px;
		    display: inline-block;
		    font-weight: bold;
		}
	</style>



	<h1 align="center"> Game : {{vars.name}} </h1>
	<div align="center">
	<button onclick="window.open('/reviews?appid={{vars.appid}}&page_num=1')" class="btn btn-dark"> Reviews </button>
	<button onclick="window.open('/screenshots?appid={{vars.appid}}')" class="btn btn-dark"> Screenshots </button>
	<button onclick="window.open('/movies?appid={{vars.appid}}')" class="btn btn-dark"> Movies </button>
	{% if vars.website %}
	<button onclick="window.open('{{vars.website}}')" class="btn btn-dark"> website </button>
	{% endif %}
	{% if vars.steam_page %}
	<button onclick="window.open('{{vars.steam_page}}')" class="btn btn-dark"> steam page </button>
	{% endif %}
	{% if 'user' in session %}
		
		<button id = 'fav' onclick="toggle_fav()" class="btn btn-dark">
			{% if vars.appid|int not in session['user_obj']['favs'] %}
				{% set fav = 0 %}
			 	Add to favourites
			{% else %}
				{% set fav = 1 %}
			 	Remove from favourites
			{% endif %}
			</button>
		
		{% if vars.owned|int !=0 %}
		<button id = 'buy' onclick="" class="btn btn-dark"  data-toggle="modal" data-target="#buy_game">
			 	Buy Game
		</button>
		{% else %}
		<div class="writeReviewPopup">
		    <span class="helper"></span>
		    <div>
		        <div class="popupCloseButton" onclick="close_reviewPopup()">&times;</div>
		        <div id="popupContent">
		        	<textarea id="review_text" rows="4" cols="60" placeholder="Your review here"></textarea> <br><br>
		        	<button class="btn btn-primary" onclick="submitReviewRequest()"> Submit review </button>
		        </div>
		    </div>
		</div>
		<button class="btn btn-dark" onclick="open_reviewPopup()"> write review </button>

		{% endif %}
	
		<div class="modal fade" id="buy_game" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h4 class="modal-title" id="exampleModalLabel">
					  {{vars.name}}</h4>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
					<p><strong>Wallet</strong>: Rs. {{'%0.2f'|format(vars.user_money)}}</p>

					<table class="table table-hover">
						<thead>
						 <tr>
						  <th>Game name</th>
						  <th>Price</th>
						 </tr>
						</thead>
							<tr>
								<td>{{vars.name}}</td>
								<td>{{vars.price}}</td>
							</tr>
								
					</table>

					{% if not vars.price %}
					<p>The game is free. Confirm below to buy.</p>
					<button type="button" onclick="buy_game()" class="btn btn-primary">
						Add to your library.
					</button>
					{% endif %}

					{% if vars.price and vars.price|float <= vars.user_money|float %}
					<p>Money in wallet after purchase: <strong>{{'%0.2f'|format(vars.user_money|float - vars.price|float)}}</strong> </p>
					<button type="button" onclick="update_wallet_and_buy()" class="btn btn-primary">
						Buy Game
					</button>
				  	{% endif %}

					{% if vars.price and vars.price|float > vars.user_money|float %}
					<form>
						<div class="form-group">
							<label for="usr">Card Number:</label>
							<input type="number" class="form-control" id="card_num">
						</div>
						<div class="form-group">
							<label for="usr">CVV:</label>
							<input type="number" class="form-control" id="card_cvv">
						</div>
					<!--
						<div class="form-check">
						  <input type="checkbox" class="form-check-input" id="exampleCheck1">
						  <label class="form-check-label" for="exampleCheck1">Save card</label> 
						</div>
					-->
						<button type="button" onclick="update_wallet_and_buy()" class="btn btn-primary">
							Add Rs. {{vars.price|float - vars.user_money|float}} to the wallet and buy
						</button>
					  </form>
					  {% endif %}
				</div>
				<div class="modal-footer">
				  <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		  </div>

	{% endif %}
	

	{% if vars.price %}
		<h3> Price: Rs. {{vars.price}} </h3>
	{% else %}
		<h3> Price: FREE </h3>
	{% endif %}
	</div>

	{% if vars.description %}
		<h1> Description: </h1>
		<div class="row" style="color: black">
			<div class="col-md-1"> </div>
			<div class="col-md-10" style="max-height: 400px; overflow: scroll; background-color: #000000; color: white" display: inline-block;> 
				<div> {{vars.description | safe}} </div>
			</div>
		</div>
	{% endif %}

	{% if vars.windows_requirements or vars.mac_requirements or vars.linux_requirements %}
	<h1> Requirements: </h1>
	<div class="row" style="color: white">
		<div class="col-md-1"> </div>
		<div class="col-md-10" style="max-height: 400px; overflow: scroll; background-color: #4F6AC4" display: inline-block;> 
			{% if vars.windows_requirements %}
			<h2> Windows: </h2>
			{{vars.windows_requirements | safe}}
			{% endif %}
			{% if vars.mac_requirements %}
			<h2> Mac: </h2>
			{{vars.mac_requirements | safe}}
			{% endif %}
			{% if vars.linux_requirements %}
			<h2> Linux: </h2>
			{{vars.linux_requirements | safe}}
			{% endif %}
		</div>
	</div>	
	{% endif %}

	{% if vars.tags %}
	<h1> Tags: </h1>
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			{% for tag in vars.tags %}
				<b>{{tag}}<b> ,
			{% endfor %}	
		</div>

	</div>
	{% endif %}

<!-- 
    <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
	{% endfor %} -->

<script>
	fav = {{fav}}
	function toggle_fav(){
		if(fav==1){
			fav = 0;
			$("#fav").html('Add to favourites')
			$.get( '/toggle_fav?appid={{vars.appid}}', function( data ) {
				alert(data);
			});
		}
		else{
			fav = 1;
			$("#fav").html('Remove from favourites')
				$.get('/toggle_fav?appid={{vars.appid}}', function(data) {
					alert(data);
			});
		}
		console.log(fav);
		//window.open('/addtofav?appid={{vars.appid}}')
	}

	function update_wallet_and_buy(){
		money = {{vars.user_money}}
		price = {{vars.price}}
		amt = -Math.min(money, price)
		$.get( "/add_money?amount=" + amt, function( data ) {
			if(data.search("Success") != -1 ){
                alert("Success. Your Wallet has been updated.");
				buy_game()
			}
			else
			alert(data)
			});
	}

	function buy_game(){
		appid = {{vars.appid}}
		price = {{vars.price|float}}
		$.get( "/add_game?appid=" + appid.toString() + "&price="+price, function(data) {
				alert(data)
				location.reload()
			});

	}

	var appid = {{vars.appid}}
	function close_reviewPopup(){
		$('.writeReviewPopup').hide();
	}
	function open_reviewPopup(){
		$('.writeReviewPopup').show();
	}

	function submitReviewRequest(){
		$.post("/submit_review",
				 {
				 	review_text: $('#review_text').val(),
				 	appid: appid
				 },
				 function(data, status){
				 	if(status=='success'){
				 		if(confirm(data)){
				 		    window.location.reload();  
				 		}
				 	}
				 });
	}


</script>

{% endblock %}