{% extends "base.html" %}
{% block content %}
	<h1> Game : {{vars.name}} </h1>

	<button onclick="window.open('/reviews?appid={{vars.appid}}&page_num=1')" class="btn btn-dark"> Reviews </button>
	<button onclick="window.open('/screenshots?appid={{vars.appid}}')" class="btn btn-dark"> Screenshots </button>
	{% if vars.website %}
	<button onclick="window.open('{{vars.website}}')" class="btn btn-dark"> website </button>
	{% endif %}
	{% if vars.steam_page %}
	<button onclick="window.open('{{vars.steam_page}}')" class="btn btn-dark"> steam page </button>
	{% endif %}
	{% if 'user' in session %}
		
		<button id = 'fav' onclick="toggle_fav()" class="btn btn-dark">
			{% if vars.appid|int not in session['user_obj']['favs'] %}
				{% set fav = 0 %}
			 	Add to favourites
			{% else %}
				{% set fav = 1 %}
			 	Remove from favourites
			{% endif %}
			</button>
		
		{% if vars.owned|int !=0 %}
		<button id = 'buy' onclick="" class="btn btn-dark"  data-toggle="modal" data-target="#buy_game">
			 	Buy Game
		</button>
		{% else %}
		<button class="btn btn-dark"> write review </button>

		{% endif %}
	
		<div class="modal fade" id="buy_game" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h4 class="modal-title" id="exampleModalLabel">
					  {{vars.name}}</h4>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
					<p><strong>Wallet</strong>: Rs. {{vars.user_money}}</p>

					<table class="table table-hover">
						<thead>
						 <tr>
						  <th>Game name</th>
						  <th>Price</th>
						 </tr>
						</thead>
							<tr>
								<td>{{vars.name}}</td>
								<td>{{vars.price}}</td>
							</tr>
								
					</table>

					{% if not vars.price %}
					<p>The game is free. Confirm below to buy.</p>
					<button type="button" onclick="buy_game()" class="btn btn-primary">
						Add to your library.
					</button>
					{% endif %}

					{% if vars.price and vars.price|float <= vars.user_money|float %}
					<p>Money in wallet after purchase: <strong>{{vars.user_money|float - vars.price|float}}</strong> </p>
					<button type="button" onclick="update_wallet_and_buy()" class="btn btn-primary">
						Update Wallet and Buy Game
					</button>
				  	{% endif %}

					{% if vars.price and vars.price|float > vars.user_money|float %}
					<form>
						<div class="form-group">
							<label for="usr">Card Number:</label>
							<input type="number" class="form-control" id="card_num">
						</div>
						<div class="form-group">
							<label for="usr">CVV:</label>
							<input type="number" class="form-control" id="card_cvv">
						</div>
					<!--
						<div class="form-check">
						  <input type="checkbox" class="form-check-input" id="exampleCheck1">
						  <label class="form-check-label" for="exampleCheck1">Save card</label> 
						</div>
					-->
						<button type="button" onclick="update_wallet_and_buy()" class="btn btn-primary">
							Add Rs. {{vars.price|float - vars.user_money|float}} to the wallet and buy
						</button>
					  </form>
					  {% endif %}
				</div>
				<div class="modal-footer">
				  <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		  </div>

	{% endif %}

	{% if vars.price %}
		<h3> Price: Rs. {{vars.price}} </h3>
	{% else %}
		<h3> Price: FREE </h3>
	{% endif %}

	{% if vars.description %}
		<h1> Description: </h1>
		<div style="height: 400px; overflow: scroll; background-color: #AAFFF0"> 
			<div> {{vars.description | safe}} </div>
		</div>
		
	{% endif %}

	{% if vars.windows_requirements or vars.mac_requirements or vars.linux_requirements %}
		<h1> Requirements: </h1>
		<div style="height: 400px; overflow: scroll; background-color: #ACFF92">
			{% if vars.windows_requirements %}
			<h2> Windows: </h2>
			{{vars.windows_requirements | safe}}
			{% endif %}
			{% if vars.mac_requirements %}
			<h2> Mac: </h2>
			{{vars.mac_requirements | safe}}
			{% endif %}
			{% if vars.linux_requirements %}
			<h2> Linux: </h2>
			{{vars.linux_requirements | safe}}
			{% endif %}
		</div>
		
	{% endif %}

	{% if vars.tags %}
		<h1> Tags: </h1>
		{% for tag in vars.tags %}
			{{tag}} ,
		{% endfor %}
	{% endif %}

<!-- 
    <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
	{% endfor %} -->

<script>
	fav = {{fav}}
	function toggle_fav(){
		if(fav==1){
			fav = 0;
			$("#fav").html('Add to favourites')
			$.get( '/toggle_fav?appid={{vars.appid}}', function( data ) {
				alert(data);
			});
		}
		else{
			fav = 1;
			$("#fav").html('Remove from favourites')
				$.get('/toggle_fav?appid={{vars.appid}}', function(data) {
					alert(data);
			});
		}
		console.log(fav);
		//window.open('/addtofav?appid={{vars.appid}}')
	}

	function update_wallet_and_buy(){
		money = {{vars.user_money}}
		price = {{vars.price}}
		amt = -Math.min(money, price)
		$.get( "/add_money?amount=" + amt, function( data ) {
			if(data.search("Success") != -1 ){
                alert("Success. Wallet has been updated.");
				buy_game()
			}
			else
			alert(data)
			});
	}

	function buy_game(){
		appid = {{vars.appid}}
		price = {{vars.price|float}}
		$.get( "/add_game?appid=" + appid.toString() + "&price="+price, function(data) {
				alert(data)
				location.reload()
			});

	}

</script>

{% endblock %}