<!-- admin can open this page and ban or add money to user -->
{% extends "base.html" %}
{% block content %}
	<style type="text/css">
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		th, td {
		  padding: 5px;
		  text-align: left;    
		}
		/* Popup box BEGIN */
		.open_addMoneyPopup{
		    background:rgba(0,0,0,.4);
		    cursor:pointer;
		    display:none;
		    height:100%;
		    position:fixed;
		    text-align:center;
		    top:0;
		    width:100%;
		    z-index:10000;
		}
		.open_addMoneyPopup .helper{
		    display:inline-block;
		    height:100%;
		    vertical-align:middle;
		}
		.open_addMoneyPopup > div {
		    background-color: #fff;
		    box-shadow: 10px 10px 60px #555;
		    display: inline-block;
		    height: auto;
		    max-width: 551px;
		    min-height: 50px;
		    vertical-align: middle;
		    width: 60%;
		    position: relative;
		    border-radius: 8px;
		    padding: 15px 5%;
		}
		.popupCloseButton {
		    background-color: #fff;
		    border: 3px solid #999;
		    border-radius: 50px;
		    cursor: pointer;
		    display: inline-block;
		    font-family: arial;
		    font-weight: bold;
		    position: absolute;
		    top: -20px;
		    right: -20px;
		    font-size: 25px;
		    line-height: 30px;
		    width: 30px;
		    height: 30px;
		    text-align: center;
		}
		.popupCloseButton:hover {
		    background-color: #ccc;
		}
		.trigger_popup_fricc {
		    cursor: pointer;
		    font-size: 20px;
		    margin: 20px;
		    display: inline-block;
		    font-weight: bold;
		}
		/* Popup box BEGIN */
	</style>

	<div id="table">
		<table style="width:100%">
			  <tr>
			    <th>Username</th>
			    <th>Add money to wallet</th>
			    <th>Ban/Unban</th>
			  </tr>
			  {% if userslist %}
			  	{% for userObj in userslist %}
			  		<tr>
			  		  <td> {{userObj.username}} </td>
			  		  <td> <button class="btn btn-success" onclick="open_addMoneyPopup('{{userObj.username}}')"> Add money </button> </td>
			  		  {% if userObj.isbanned == 'true' %}
			  		  	<td> <button class="btn btn-warning" onclick="unbanfunc('{{userObj.username}}')"> unban </button> </td>
			  		  {% else %}
			  		  	<td> <button class="btn btn-danger" onclick="banfunc('{{userObj.username}}')"> ban </button> </td>
			  		  {% endif %}
			  		</tr>
			  	{% endfor %}
			  {% endif %}
		</table>
	</div>

	<div class="open_addMoneyPopup">
	    <span class="helper"></span>
	    <div>
	        <div class="popupCloseButton" onclick="close_addMoneyPopup()">&times;</div>
	        <div id="popupContent"> 
	        	Current wallet balance: <div id="walletBalance">Unable to fetch</div> <br>
	        	<input id="moneyVal" type="text" name="money" placeholder="amount to add"> <button class="btn btn-info" onclick="addMoney()">Add money</button> 
	        </div>
	    </div>
	</div>

	<script type="text/javascript">

		clickedUser = null;

		function banfunc(username){
			$.post("/banUser",
			 {
			 	username: username
			 },
			 function(data, status){
			 	if(confirm(data)){
			 	    window.location.reload();  
			 	}
			 });
		}

		function unbanfunc(username){
				$.post("/unbanUser",
				 {
				 	username: username
				 },
				 function(data, status){
				 	if(confirm(data)){
				 	    window.location.reload();  
				 	}
				 });
		}

		function open_addMoneyPopup(username){
			//get the current wallet balance of this user using post request
			clickedUser = username; //update username
			$.post("/getMoneyOfUser",
			 {
			 	username: clickedUser
			 },
			 function(data, status){
			 	if(status==='success'){
			 		document.getElementById("walletBalance").innerHTML = data;
			 		$('.open_addMoneyPopup').show();
			 	}
			 });
		}

		function addMoney(){
			//adds money to the user assigned to the current
			//username variable
			if($('#moneyVal').val().match(/^\d+(\.\d+)?$/)===null ) {
				//when string is not number
				alert("enter valid money");
			}else{
				$.post("/addMoney",
				 {
				 	username: clickedUser,
				 	amount: $('#moneyVal').val()
				 },
				 function(data, status){
				 	if(confirm(data)){
				 	    window.location.reload();  
				 	}
				 });
			}
		}
		function close_addMoneyPopup(){
			$('.open_addMoneyPopup').hide();
		}

	</script>
{% endblock %}